name: Awesome CI
on:
  push:
  pull_request:
  schedule:
    - cron: 0 12 * * *
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out awesomeness from GitHub
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: Running the awesome linter
        run: npx awesome-lint
